Repository escapace/fastify-fetch, changes with the labels that .github/labeler.yaml gives for each.
All labels: github-actions, test

.github/labeler.yaml:

github-actions:
  - .github/workflows/*.yml

test:
  - src/**/*.spec.ts

Notes added by 'git notes add'
  cb39022e44b732e990d3d92fc6572a8f13d54c01
Labels: none

feat: update
  .github/codecov.yml
  .github/dependabot.yml
  .github/renovate.json5
  .github/workflows/dependency-review.yaml
  .github/workflows/labeler.yaml
  .github/workflows/release.yaml
  .github/workflows/release.yml
  .github/workflows/workflow-call-context.yaml
  package.json
  pnpm-lock.yaml
  release.config.cjs
  src/index.ts
Labels: github-actions

feat: update
  .github/codecov.yml
  .github/dependabot.yml
  .github/renovate.json5
  .github/workflows/dependency-review.yaml
  .github/workflows/labeler.yaml
  .github/workflows/release.yaml
  .github/workflows/release.yml
  .github/workflows/workflow-call-context.yaml
  package.json
  pnpm-lock.yaml
  release.config.cjs
  src/index.ts
Labels: github-actions

fix: release script
  package.json
  pnpm-lock.yaml
  scripts/release.mjs
Labels: none

fix: release script
  package.json
  pnpm-lock.yaml
  scripts/release.mjs
Labels: none

fix: release script
  package.json
Labels: none

fix: release script
  package.json
Labels: none

chore: update .lintstagedrc.json
  .lintstagedrc.json
Labels: none

chore: update .lintstagedrc.json
  .lintstagedrc.json
Labels: none

chore: add changelogithub
  package.json
  pnpm-lock.yaml
Labels: none

chore: add changelogithub
  package.json
  pnpm-lock.yaml
Labels: none

fix: headers
  src/fastify-fetch.ts
Labels: none

fix: headers
  src/fastify-fetch.ts
Labels: none

fix: improve header parsing
  src/fastify-fetch.ts
  src/index.spec.ts
Labels: test

fix: improve header parsing
  src/fastify-fetch.ts
  src/index.spec.ts
Labels: test

fix: compression
  src/fastify-fetch.ts
Labels: none

fix: compression
  src/fastify-fetch.ts
Labels: none

fix: inject payload
  src/fastify-fetch.ts
Labels: none

fix: inject payload
  src/fastify-fetch.ts
Labels: none

fix: header conversion
  src/fastify-fetch.ts
Labels: none

fix: header conversion
  src/fastify-fetch.ts
Labels: none

chore: syncpack
  .husky/pre-commit
  .syncpackrc.json
  package.json
  pnpm-lock.yaml
  src/example.ts
Labels: none

chore: syncpack
  .husky/pre-commit
  .syncpackrc.json
  package.json
  pnpm-lock.yaml
  src/example.ts
Labels: none

chore: npm provenance
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/workflow-call-ci.yaml
  .github/workflows/workflow-call-context.yaml
  scripts/release.mjs
Labels: none

chore: npm provenance
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/workflow-call-ci.yaml
  .github/workflows/workflow-call-context.yaml
  scripts/release.mjs
Labels: none

fix: pnpm version
  package.json
  pnpm-lock.yaml
Labels: none

fix: pnpm version
  package.json
  pnpm-lock.yaml
Labels: none

fix: provenance
  .github/renovate.json5
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/workflow-call-ci.yaml
  .github/workflows/workflow-call-context.yaml
  package.json
  pnpm-lock.yaml
  scripts/release.mjs
Labels: none

fix: provenance
  .github/renovate.json5
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/workflow-call-ci.yaml
  .github/workflows/workflow-call-context.yaml
  package.json
  pnpm-lock.yaml
  scripts/release.mjs
Labels: none

fix!: esm only
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/workflow-call-ci.yaml
  .github/workflows/workflow-call-context.yaml
  package.json
  pnpm-lock.yaml
  scripts/build.mjs
  scripts/constants.mjs
  scripts/test.mjs
  src/fastify-fetch.ts
  tsconfig-build.json
  tsconfig.json
Labels: none

fix!: esm only
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/workflow-call-ci.yaml
  .github/workflows/workflow-call-context.yaml
  package.json
  pnpm-lock.yaml
  scripts/build.mjs
  scripts/constants.mjs
  scripts/test.mjs
  src/fastify-fetch.ts
  tsconfig-build.json
  tsconfig.json
Labels: none

fix: workflow
  .github/workflows/release.yaml
Labels: none

fix: workflow
  .github/workflows/release.yaml
Labels: none

fix: package.json to reduce vulnerabilities
  package.json
Labels: none

fix: package.json to reduce vulnerabilities
  package.json
Labels: none

feat: support multiple same-name cookies
  package.json
  pnpm-lock.yaml
  src/fastify-fetch.ts
  src/headers.ts
  src/index.spec.ts
  src/index.ts
Labels: test

feat: support multiple same-name cookies
  package.json
  pnpm-lock.yaml
  src/fastify-fetch.ts
  src/headers.ts
  src/index.spec.ts
  src/index.ts
Labels: test

fix: content length
  package.json
  pnpm-lock.yaml
  src/fastify-fetch.ts
Labels: none

fix: content length
  package.json
  pnpm-lock.yaml
  src/fastify-fetch.ts
Labels: none

feat: redirects
  package.json
  pnpm-lock.yaml
  src/fastify-fetch.ts
  src/index.spec.ts
  src/index.ts
  src/same-origin.ts
  src/undici.d.ts
Labels: test
